build-essential
pkg-config
gdal-bin
libopenblas-base
libyaml-dev
libcupti-dev
libopencv-dev
libcv-dev
libccfits-dev
libgdal-dev
python
python-dev
python3-pip
python3-gdal
python3-setuptools
python3-virtualenv
python3-wheel
python3-numpy
python3-scipy
python3-h5py
python3-yaml
python3-pydot
python3-matplotlib
libhdf5-dev
vim
emacs
git
